

{% extends "index.html" %}

{% block content %}



 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Testcase id</th>
                <th scope="col">Function name</th>

            </tr>
        </thead>
        <tbody>
        {% for testcase in testcases %}
            <tr >
                <td> {{testcase.testcase_id}} </td>
                <td> {{testcase.function_name_fk}} </td>

                <td>
{#                    <button type="button" class="btn btn-warning" name="btn_edit_testcase" data-testcase_id="{{testcase.testcase_id}}">Edit</button>#}
                    <button type="button" class="btn btn-danger" name="btn_delete_testcase" data-testcase_id="{{testcase.testcase_id}}">Delete</button>
                </td>
            </tr>

        {% endfor %}
<!--            <tr>-->
<!--                <td> <button type="button" class="btn btn-success" name="btn_new_testcase">New Testcase</button> </td>-->
<!--            </tr>-->
        </tbody>
    </table>
 </div>

    <script src="{{ url_for('static', filename='js/testcase.js') }}"></script>

{% endblock %}
